<div class="main">
  <div class="container">
  <div class="upload-image">
    <h1>Subir una imagen</h1>
    <div class="upload-section">
      <input type="file" (change)="ImagenSeleccionada($event)" />
      <button class="btn" (click)="enviarUnaImagen()">Subir imagen</button>
    </div>
  </div>
  <div class="upload-multiple-images">
    <h1>Subir múltiples imágenes</h1>
    <div class="upload-section">
      <input type="file" (change)="ImagenesSeleccionadas($event)" multiple id="inputImagenes"/>
      <button class="btn" (click)="enviarMuchasImagenes()">
        Subir imágenes
      </button>
    </div>
  </div>
</div>

<div class="container2">
  <h2>Imágenes:</h2>
  <button class="btn" (click)="obtenerImagenes()">Mostrar imágenes</button>
  <div class="image-gallery">
    <div *ngFor="let imagen of imagenes">
      <img src="{{ imagen.url }}" alt="" />
    </div>
  </div>
</div>
</div>